# Configuración del Servidor
PORT=5000
NODE_ENV=development

# MongoDB Atlas
# Reemplaza esta URL con tu connection string de MongoDB Atlas
# Formato: mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/inventario?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://daryfernand7_db_user:6haEOLzt2hcWxQdm@cluster0.yjbhog9.mongodb.net/?appName=Cluster0

# JWT Secret (cambia esto por una clave segura)
JWT_SECRET=6haEOLzt2hcWxQdm
JWT_EXPIRE=7d

# CORS (Frontend URL)
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
